about-time==4.2.1
alive-progress==3.1.4
altgraph==0.17.3
appdirs==1.4.4
asttokens==2.2.1
backcall==0.2.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
fonttools==4.42.0
grapheme==0.6.0
ipython==8.14.0
jedi==0.19.0
kiwisolver==1.4.4
lxml==4.9.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
numpy==1.25.2
packaging==23.1
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==10.0.0
progressbar==2.5
prompt-toolkit==3.0.39
pure-eval==0.2.2
Pygments==2.16.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.7
pyparsing==3.0.9
pyshark==0.6
python-dateutil==2.8.2
pywin32-ctypes==0.2.2
PyX==0.16
scapy==2.4.5
six==1.16.0
stack-data==0.6.2
termcolor==2.3.0
tqdm==4.66.1
traitlets==5.9.0
wcwidth==0.2.6
